.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.text-center {
  text-align: center;
}

.login form {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexSidebar {
  display: flex;
}

.flexSidebar .magin-page {
  overflow-y: scroll;
  height: 100vh;
}

.login.container {
  height: 100vh;
}

.sidebar-menu {
  list-style: none;
}

.sidebar {
  width: 250px;
  height: 100vh;
}

h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 30px !important;
}

ul.sidebar-menu li {
  cursor: pointer;
  margin: 22px 0;
}

.sidebar-menu {
  margin-top: 40px;
}

.container-sidebar {
  padding-top: 15px;
  background-color: #ef70d6;
  color: #fff;
}

.loading-overlay {
  z-index: 999;
  height: 1000px;
}

.deleteSubject .b-table {
  overflow-x: scroll;
}

.table-wrapper td {
  vertical-align: middle;
}

.container-form {
  padding: 30px 80px;
}

.deleteSubject .wrapper.text-center {
  padding: 30px;
}

.file {
  margin-top: 25px;
}

html {
  overflow: hidden !important;
}